# ISSI Quad 128 Megabyte SPI flash
# Model: IS25LP01G-RILE
# Datasheet: https://www.issi.com/WW/pdf/IS25LP(WP)01G.pdf
# Label: U4
flash nor-128M-256 {
	pebsize = 64K
	numpebs = 2K
	minimum-io-unit-size = 1
	vid-header-offset = 64
	sub-page-size = 1
}

image flash.img {
	flash {}
	flashtype = "nor-128M-256"

	partition u-boot-spl {
		image = "u-boot-spl.ldr"
		size = 256K
	}

	partition u-boot {
		image = "u-boot.ldr"
		size = 704K
	}

	partition u-boot-env {
		size = 64K
	}

	partition dtb {
		image = "sc598-htol.dtb"
		size = 64K
	}

	partition kernel {
		image = "Image"
		size = 32M
	}

	partition rootfs {
		image = "rootfs.ubi"
	}
}
