# Micron 8Gb (1GB) SPI NAND flash
# Model: MT29F8G01ADAFD12-AAT:F
# Datasheet: https://www.micron.com/content/dam/micron/global/secure/products/data-sheet/nand-flash/70-series/m70a-4-8gb-nand-spi-auto.pdf
# Label: U4
flash nand-1G {
	pebsize = 256K
	numpebs = 4096
	minimum-io-unit-size = 4096
	sub-page-size = 4096
	vid-header-offset = 4096
}

image nand.img {
	flash {}
	flashtype = "nand-1G"

	partition u-boot-spl {
		image = "u-boot-spl.ldr"
		size = 256K
	}

	partition u-boot {
		image = "u-boot.ldr"
		size = 768K
	}

	partition dtb {
		image = "sc598-som-nand.dtb"
		size = 256K
	}

	partition kernel {
		image = "Image"
		size = 32M
	}

	partition rootfs {
		image = "rootfs.ubi"
	}
}
